.logo {
  display: inline-block;
  vertical-align: middle;
  padding-right: 2rem;
  cursor: pointer;
  &--top {
    position: absolute;
    top: 6rem;
    left: 6rem;
  }

  &--top &__image {
    height: 5.5rem;
  }

  &--invisible {
    visibility: hidden;
  }
  &__image {
    height: 4rem;
  }
}