.header {
  position: relative;
  height: 85vh;
  @supports (clip-path: polygon(0 0)) {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  &__photo {
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  &__img {
    height: 100%;
    transform: scale(1.4) translateY(1rem);
  }

  &__text-box {
    @include absCenter;
    text-align: center;
  }
}